.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
 
.registerTitle {
  font-size: 30px;
  font-weight: 500;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;

}

.registerForm > input {
    border: none;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
}
.registerForm>input:focus{
    outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #181A1B;
  border: none;
  color: white;
  padding: 10px 100px; 
}

.registerButton:disabled{
  cursor: not-allowed;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: crimson;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
}
