.home {
    display: flex;
    padding: 0 200px 0 200px;
}
.homeInfo {
    stroke: black;
    margin: 50px 0 100px 0;
    font-size: 18px;
    text-align: center;
}
.homeLink {
    color: dodgerblue;
    font-weight: 500;
}
