.home {
    display: flex;
    padding: 0 15% 0 15%;
}
.homeInfo {
    margin: 50px 15% 10px 15%;
    font-size: 18px;
    text-align: center;
}
.homeBold {
    font-weight: 800px;
}
.homeInfo b {
    font-size: 32px;
}
.homeLink {
    color: dodgerblue;
    font-weight: 500;
}
