.header{
    margin-top: 32px;
}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerUser{
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 20px;
}
.headerImg{
    width: 40%;
    display: block;
    margin: 20px auto;
}