.header {
    margin-top: 32px;
}
.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerName {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 30px;
}
.headerDesc {
    margin-bottom: 40px;
    font-size: 18px;
}
.headerImg {
    width: 700px;
    display: block;
    margin: 20px auto 60px;
}
