.nav {
    width: 100%;
    height: 45px;
    margin-bottom: 40px;
    background-color: #181a1b;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    color: white;
}
.navLeft,
.navRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navCenter {
    flex: 6;
}
.navProfile {
    text-decoration: none;
    color: lightgreen;
}

.navImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: fill;
}

.navMain {
    margin-right: 16px;
    color: lightgreen;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 3px;
}

.navMain::after {
    content: '';
    width: 2px;
    height: 16px;
    background: lightgreen;
    display: inline-block;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.navMain::after {
    animation: cursor-blink 1s steps(16) infinite;
}

.navList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navListItem {
    margin-right: 5%;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    list-style: none;
    color: white;
    transition: all 0.3s ease-out;
}
.navListItem:hover {
    color: lightgreen;
    transition: all 0.2s ease-in;
}
.navProfile {
    cursor: pointer;
    color: white;
}
.navProfile:hover {
    color: lightgreen;
    transition: all 0.1s ease-in;
}

.navListLogin {
    font-weight: 400;
    margin-right: 10px;
}
.navListRegister {
    font-weight: 400;
    color: lightgreen;
    margin-right: 10px;
}

.navSearchIcon {
    font-size: 14px;
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
    transition: all 0.1s ease-in;
}
